body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: black;
}

.starter {
    font-weight: 600;
}
.banner-container {
    background-color: #F8F9FA;
}

.navbar-container {
    background-color: #F8F9FA;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar-container.sticky {
    opacity: 0.9;
}

#alignright {
    margin-left: 700px;
}

.nav-item {
    margin-inline: 30px;
    font-weight: 500;
}

.navbar-brand {
    margin-left: 30px;
}
.container {
    background-color: #F8F9FA;
    text-align: center;
}

.skills-container {
    background-color: black;
    text-align: center;
}

.project-container {
    background-color: #F8F9FA;
    text-align: center;
}

.carousel {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.carousel .carousel-inner .carousel-item .carousel-caption {
    visibility: hidden;
    font-size: medium;
    text-align: center;
}

.carousel:hover .carousel-inner .carousel-item .carousel-caption{
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
    transition: all 0.3s ease;
    cursor: pointer;
}

.container .row .col-12 span {
    color: rgb(252, 163, 17);
}

.startsub {
    color: #A6A2A2;
}

.spacer {
    background-color: #F8F9FA;
}

#fonfix {
    font-size: medium;
}

.container-fluid {
    background-color: #F8F9FA;
}

.img-fluid {
    border-color: #FCA311;
}

.introstart {
    font-weight: 700;
    font-size: larger;
}

.edutext {
    font-weight: 700;
}

.edu-container {
    background-color: #F8F9FA;
}

.edu-container .card {
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.edu-container .card:hover {
    background-color: #F8F9FA;
    color: #FCA311;
}

.edu-container .card .card-body {
    transition: all 0.05s ease;
}

.edu-container .card:hover .card-body{
    transform: scale(1.05);
}

.edu-container .card i{
    font-size: 50px;
    color: #FCA311;
    transition: color 0.3s ease;
}

.edu-container .card .card-title{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.protext {
    font-weight: 700;
    color: black;
}

.skilltext {
    font-weight: 700;
    color: #F8F9FA;
}

.col-md-2 {
    background-color: #FCA311;
}

.contact-container {
    background-color: #d3d8dd;
}

.spacer2 {
    background-color: #d3d8dd;
}

.floatingInput {
    color: #A6A2A2;
}

.floatingName {
    color: #A6A2A2;
}

.divider {
    width: 100%;
}

.container-new {
    background-color: #F8F9FA;
}

.floatingTextarea2 {
    color: #A6A2A2;
}

#linkedin {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

#linkedin:hover {
    color: #FCA311;
}

#sendm:hover {
    transform: scale(1.05);
    transition: color 0.3s ease;
}


footer{
    background-color: #F8F9FA;
    font-size: small;
    text-align: center;
}

#bar {
    background-color: #FCA311;
}

#cpp {
    font-size: smaller;
    color: #F8F9FA;
}

.sexy-div1 {
    text-align: center;
}

.sexy-div2 {
    text-align: center;
}

@media (max-width: 690px) {
    .startsub {
        font-size: medium;
    }
    .starter {
        font-size: large;
    }
}